/* variables */
/* colors */
$red: #f53f00;
$orange:#ff7518;
$purple: #592da6;
$gold: #ffe135;
$green: #4ed9b1;
$blue: #2d61a6;
$pink: #fc69b4;
$gray: #4a5662;
$white: #ffffff;
$black: #000000;
$outline: 0.2em dashed black;

/* dimensions */
$lgTri: 16em;
$sqside: 5.6em;
$mdTri: 2 * $sqside;
$smTri: 0.5 * $lgTri;
$scale: 1;