/* import from partials*/
@import 'variables';
@import 'shapes';
@import 'transforms';
@import 'match';

/* import from google fonts */
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Oswald:600');

/* main layout divs */
#links {
  float: right;
}

#matchSpace {
  display: inline-block;
  top: 10em;
  position: absolute;
  width: 36em;
  height: 30em;  
  overflow: auto;
}

#shapeTray {
  height: 43em;
  width: 17em;
  left: 36em;
  position: absolute;
}

#directText{
  margin: auto;
  background-color: #ffffff;
  padding: 1em;
  font-family: 'Oswald', sans-serif;
  font-size: 0.9em;
  border: 0.15em solid #000000;
  z-index: 4;
  position: absolute;
}

/* headings */

h1 {
  letter-spacing: 0.1em;
  font-size: 6.5em;
  margin: 0em;
  padding: 0em;
}

/* nav bar including links */

a {
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-shadow: 0em 0em 1em #fc69b4;
}

.choices {
  padding: 0em 0.1em 0em 0.1em;
  text-decoration: none;
}

.active {
  border: 0.1em dashed black;
  border-radius: 0.4em;
  text-shadow: none;
}

nav {
  font-size: 1em;
}

/* other elements */

header {
  z-index: 1;
  max-width: 36em;
  position: absolute;
}

body {
  font-family: 'Black Ops One', cursive;
  background-color: transparent;
  position: relative;
  height: 44em;
  width: 55em;
  overflow: auto;
  margin: 0 auto;
} 

ul {
  padding: 0em;
  margin: 0em;
}

/* layout classes */

.centerContent{
  position: relative;
  left: -50%;
}

.centerWrap{
   position: absolute;
   left: 50%;
}

.directions {
  visibility: hidden;
}

.rainbowBackText {
  background-image: linear-gradient(to right, $purple, $pink, $red, $orange, $yellow, $green, $blue);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0.07em 0em 0em $black;

}

.rainbowBackground {
  background-image: linear-gradient(to bottom, $purple, $pink, $red, $orange, $yellow, $green, $blue);
  color: $black;
}








