/* import */

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

/* divs */

#matchSpace {
  display: inline-block;
  top: 30%;
  position: absolute;
  left: 10%;
  width: 30em;
  height: 30em;
}

#shapeTray {
  height: 41em;
  width: 17em;
  left: 33em;
  position: absolute;
}

#directText{
  display: inline-block;
  background-color: #ffffff;
  padding: 1em;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 0.9em;
  border: 0.15em solid #000000;
}

/* elements */ 



main {
  background-color: transparent;
  position: absolute;
  height: 42em;
  width: 51em;
}


header {
  position: absolute;
  text-align: right;
  z-index: 1;
}


body {
  font-family: 'Black Ops One', cursive;
} 

nav {
  font-size: 1em;
  float: left;
  padding: 0em;
}

ul {
  padding: 0em;
  margin: 0em;
}

h1 {
  letter-spacing: 0.1em;
  font-size: 6.5em;
  margin: 0em;
  padding: 0em;
}


/* links */

a {
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-shadow: 0em 0em 1em #fc69b4;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

/* classes */


.choices {
  padding: 0em 0.1em 0em 0.1em;
  text-decoration: none;
}

.active {
  text-shadow: 0em 0em 1em #fc69b4;
  border: 0.2em solid #fc69b4;
  color: #000000;
}


.shape {
  opacity: 0.8;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  margin-right: 0.25em;
  z-index: 2;
}

.rainbowBackText {
  background-image: linear-gradient(to right, #592da6, #fc69b4, #f53f00, #ff7518, #ffe135, #4ed9b1, #2d61a6);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0.07em 0em 0em #000000;

}

.rainbowBackground {
  background-image: linear-gradient(to bottom, #592da6, #fc69b4, #f53f00, #ff7518, #ffe135, #4ed9b1, #2d61a6);
  color: #000000;
}

/* shape classes */

.square {
  width: 5.6em; 
  height: 5.6em; 

  }

.par {
	width: 8em;
	height: 4em;
	-webkit-transform: skew(45deg);
	   -moz-transform: skew(45deg);
       -ms-transform: skew(45deg);
	       -o-transform: skew(45deg);
}

.tri{
	width: 0;
	height: 0;
}

.lg {
	border-right: 8em solid transparent;
  border-left: 8em solid transparent;
  }


.sm {
	border-right: 4em solid transparent;
  border-left: 4em  solid transparent;
}

.md {
	border-right: 5.6em solid transparent;
  border-left: 5.6em solid transparent;
}

/* shape divs */

#square {
  margin-left: 5.2em;
  background-color: #f53f00;
}

#par {
	background: #ff7518;
  margin-left: 4.5em;
}

#lgtri {
	border-bottom: 8em solid #2d61a6;
  margin-left: 1em;
  background-clip: border;
}


#lgtri2 {
  border-bottom: 8em solid #4ed9b1;
  margin-left: 1em;
}

#smtri {
	border-bottom: 4em  solid #592da6;
  margin-left: 4em;
}

#smtri2 {
  border-bottom: 4em solid #fc69b4;  
  margin-left: 4em; 
}

#mdtri {
	border-bottom: 5.6em solid #ffe135;
  margin-left: 2.6em;
}

/* template/matching divs */

#one {
  width: 16em; 
  height: 16em; 
  border: 0.2em dashed #000000;
}

#two {
  width: 11.3em;
  height: 22.6em;
  border: 0.2em dashed #000000;
}

#three {
  width: 22.5em;
  height: 22.5em;
  border: 0.2em dashed #000000;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: relative;
  background: transparent;
  transform-origin: 0 100%;
}

#three:after {
  content: "";
  width: 31.9em;
  border-top: 0.2em dashed #000000;
  position: absolute;
  background: transparent;
  transform: rotate(45deg);
  transform-origin: 0;
}

#four {
  margin-top: 10em;
	border-bottom: 0.2em dashed #000000;
	border-left: 0.2em dashed #000000;
	border-right: 0.2em dashed #000000;
	height: 5.6em;
	width: 22.4em;
  position: relative;
  background: transparent;
}
	

#four:after {
  content: "";
  width: 15.6em;
  height: 15.6em;
  border-top: 0.2em dashed #000000;
  border-left: 0.2em dashed #000000;
  position: absolute;
  background: transparent;
  transform: rotate(45deg);
  transform-origin: 19.4em 7.6em;
}

#five {
  border-left: 0.2em dashed #000000;
	border-right: 0.2em dashed #000000;
	height: 11.3em;
	width: 22.6em;
  position: relative;
  background: transparent;
}

#five:after {
  content: "";
  border-bottom: 0.2em dashed #000000;
	border-right: 0.2em dashed #000000;
	height: 16em;
	width: 16em;
  position: absolute;
  background: transparent;
  transform-origin: 19.5em 8em;
  transform: rotate(45deg);
}

#five:before {
  content: "";
  margin-top: 3.5em;
  margin-left: 9.8em;
  border-bottom: 0.2em dashed #000000;
	border-right: 0.2em dashed #000000;
	height: 16em;
	width: 16em;
  position: absolute;
  background: transparent;
  transform-origin: 5em 0em;
  transform: rotate(45deg);
}

#six {
  margin-left: 5em;
  border-top: 0.2em dashed #000000;
	border-left: 0.2em dashed #000000;
	height: 11.2em;
	width: 11.2em;
  background: transparent;
}

#six:before {
  content: "";
	border-bottom: 0.2em dashed #000000;
  border-right: 0.2em dashed #000000;
	height: 11.2em;
	width: 11.2em;
  position: absolute;
  background: transparent;
  margin-left: 5.8em;
  margin-top: 5.8em;
}
	
#six:after {
  content: "";
  border-top: 0.2em dashed #000000;
  border-bottom: 0.2em dashed #000000;
	height: 16em;
	width: 7.7em;
  position: absolute;
  background: transparent;
  transform: rotate(45deg);
  transform-origin: 6em 14em;
}


/* transform */
 
 .rotate0 {
    -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
      -ms-transform:rotate(0deg);
	     -o-transform: rotate(0deg);
}
    
.rotate45 {
    -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
}

.rotate135 {
    -webkit-transform: rotate(135deg);
	  -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
	     -o-transform: rotate(135deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
}

.rotate225 {
   -webkit-transform: rotate(225deg);
	  -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
	     -o-transform: rotate(225deg);
}
    
.rotate270 {
    -webkit-transform: rotate(270deg);
	  -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
	     -o-transform: rotate(270deg);
}
  

.rotate315 {
    -webkit-transform: rotate(315deg);
	  -moz-transform: rotate(315deg);
      -ms-transform: rotate(3150deg);
	     -o-transform: rotate(315deg);
}

.skew315 {
    -webkit-transform: skew(315deg) !important;
	   -moz-transform: skew(315deg)!important;
       -ms-transform:  skew(315deg)!important;
	       -o-transform: skew(315deg)!important;
}

.skew45 {
    -webkit-transform: skew(45deg)!important;
	  -moz-transform: skew(45deg)!important;
      -ms-transform: skew(45deg)!important;
	     -o-transform: skew(45deg)!important;
}

.parDown {
    -webkit-transform: rotate(90deg) skew(315deg)!important;
	  -moz-transform: rotate(90deg) skew(315deg)!important;
      -ms-transform: rotate(90deg) skew(315deg)!important;
	     -o-transform: rotate(9deg) skew(315deg)!important;
}

.parUp {
    -webkit-transform: rotate(90deg) skew(45deg) !important;
	   -moz-transform: rotate(90deg) skew(45deg) !important;
       -ms-transform: rotate(90deg) skew(45deg) !important;
	       -o-transform: rotate(90deg) skew(45deg) !important;
}

.par5 {
    -webkit-transform: rotate(45deg) skew(315deg)!important;
	  -moz-transform: rotate(45deg) skew(315deg)!important;
      -ms-transform: rotate(45deg) skew(315deg)!important;
	     -o-transform: rotate(45deg) skew(315deg)!important;
}

.par6 {
    -webkit-transform: rotate(45deg) skew(45deg) !important;
	   -moz-transform: rotate(45deg) skew(45deg) !important;
       -ms-transform: rotate(45deg) skew(45deg) !important;
	       -o-transform: rotate(45deg) skew(45deg) !important;
}

.par7 {
    -webkit-transform: rotate(315deg) skew(315deg)!important;
	  -moz-transform: rotate(315deg) skew(315deg)!important;
      -ms-transform: rotate(315deg) skew(315deg)!important;
	     -o-transform: rotate(315deg) skew(315deg)!important;
}

.par8 {
    -webkit-transform: rotate(315deg) skew(45deg) !important;
	   -moz-transform: rotate(315deg) skew(45deg) !important;
       -ms-transform: rotate(315deg) skew(45deg) !important;
	       -o-transform: rotate(315deg) skew(45deg) !important;
}
