/* divs */

#playSpace {
  background-color: #ffffff;
  height: 42em;
  width: 50em;
  position: static;
}

#matchSpace {
  display: inline-block;
  float: left;
  margin-left: 1em;
  height: 41.25em;
  width: 32em;
}

#shapeTray {
  height: 41.25em;
  width: 16em;
  float: left;
}

/* classes */

.matching {
  background-color: #000000;
  opacity: 0.1;
  display: inline-block;
}

.shape {
  opacity: 0.8;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  margin-right: 0.25em;
}


/* shape divs */

#square {
  width: 5.6em; 
  height: 5.6em; 
  background-color: #f53f00;
  margin-left: 5.2em;
  }


#parallelo {
	width: 8em;
	height: 4em;
	-webkit-transform: skew(45deg);
	   -moz-transform: skew(45deg);
       -ms-transform: skew(45deg);
	       -o-transform: skew(45deg);
	background: #ff7518;
  margin-left: 4em;
}

#lgtri {
	width: 0;
	height: 0;
	border-right: 8em solid transparent;
  border-left: 8em solid transparent;
	border-bottom: 8em solid #2d61a6;
}


#lgtri2 {
  width: 0;
	height: 0;
	border-right: 8em solid transparent;
  border-left: 8em solid transparent;
  border-bottom: 8em solid #4ed9b1;
}

#smtri {
	width: 0;
	height: 0;
	border-right: 4em solid transparent;
  border-left: 4em  solid transparent;
	border-bottom: 4em  solid #592da6;
  margin-left: 4em;
}

#smtri2 {
	width: 0;
	height: 0;
	border-right: 4em solid transparent;
  border-left: 4em  solid transparent;
  border-bottom: 4em solid #fc69b4;  
  margin-left: 4em; 
}

#medtri {
	width: 0;
	height: 0;
	border-right: 5.6em solid transparent;
  border-left: 5.6em solid transparent;
	border-bottom: 5.6em solid #ffe135;
  margin-left: 2.6em;
}

/* template/matching divs */

#a {
  width: 16em; 
  height: 16em; 
  margin-top: 35%;
  margin-left: 25%;

}
  
/* transform */
 
 .pointLeft {
    -webkit-transform: rotate(-90deg);
	  -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
    }

    
  .pointRight {
    -webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
    }
  
    .pointDown {
    -webkit-transform: scale(1,-1);
	  -moz-transform: scale(1,-1);
      -ms-transform: scale(1,-1);
	     -o-transform: scale(1, -1);
    }
 
     .pointUp {
    -webkit-transform: scale(1,1);
	  -moz-transform: scale(1,1);
      -ms-transform: scale(1,1);
	     -o-transform: scale(1,1);
    }
    